<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/header.ejs') %>
  <body id="page-top">
    <div id="wrapper">
      <%- include('../../partials/sidebar.ejs') %>
      <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../../partials/navbar.ejs') %>
        <div id="content">
          <div class="container-fluid">
            <h1 class="h3 mb-3 text-gray-800">Booking page</h1>
            <!-- adata here -->
            <%- include('table_booking.ejs') %>
          </div>
        </div>
      </div>
    </div>
    <%-include('../../partials/js.ejs') %>
  </body>
</html>
