<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#modal-add"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone number</th>
            <th>Job Title</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i< users.length; i++){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].role %></td>
            <td>
              <% const textPhone='phone number not added'%> <%=
              users[i].phone_number ? users[i].phone_number : textPhone %>
            </td>
            <td>
              <% const textJob='job not added'%> <%= users[i].job_title ?
              users[i].job_title : textJob %>
            </td>
            <td>
              <% const textAddres='job not added'%> <%= users[i].address ?
              users[i].address : textAddres %>
            </td>
            <td>
              <form
                action="/admin/users/<%= users[i].id %>?_method=DELETE"
                method="POST"
              >
                <button
                  type="button"
                  class="btn btn-warning button-update"
                  data-toggle="modal"
                  data-target="#modal-edit"
                  data-id="<%= users[i].id %>"
                  data-name="<%= users[i].name %>"
                  data-email="<%= users[i].email %>"
                  data-role="<%= users[i].role %>"
                  data-phone_number="<%= users[i].phone_number %>"
                  data-job_title="<%= users[i].job_title %>"
                  data-address="<%= users[i].address %>"
                >
                  Edit
                </button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
